NODE_VERSION=$NODE_VERSION
NODE_ENV=$NODE_ENV

APP_URL=$APP_URL
RENDER_EXTERNAL_URL=

DATABASE_URL=$DATABASE_URL
SQLITE_FILE_PATH=$SQLITE_FILE_PATH
SQLITE_BACKUP_DIR=$SQLITE_BACKUP_DIR

ADMIN_USER=
ADMIN_PASSWORD=

SESSION_SECRET=
APP_ENCRYPTION_KEY=

TELEGRAM_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

HOME_GATEWAY_SHARED_SECRET=

SQLITE_BACKUP_USER=
SQLITE_BACKUP_PASSWORD=
